* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
audio {
  display: none;
}
.controls {
  height: 80vh;
  text-align: center;
  display: grid;
  place-items: center;
}
.controls .container {
  /* background-color: cyan; */
  color: #fff;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.music-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  animation: slidingTitle 10s infinite ease-in-out;
  position: relative;
  /* transition: all 2s ease-in; */
}
.control-btns {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
  width: 50%;
  padding: 2rem 0.3rem;
  border-radius: 5px;
}

span {
  cursor: pointer;
}

/* Animations */
@keyframes slidingTitle {
  0% {
    left: 22rem;
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: -22rem;
    opacity: 0.1;
  }
}

/* media queries */

@media only screen and (max-width: 1000px) {
  .control-btns {
    width: 85%;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .controls .container {
    padding: 0.8rem;
  }
  .music-title {
    font-size: 1.2rem;
  }
  .control-btns {
    width: 95%;
    margin-top: 2rem;
  }
}
